.questFrame {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}

.test {
     position: fixed;
     left: 1vw;
     top: 1vw;
     width: 98vw;
     height: 98vh;
     border-radius: 50px;
     border: 10px;
     display: flex;
     flex-direction: column;
}

.questDataFrame {
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.questHeader {

}

.close {
    float: right;
    margin-right: 4vw;
    margin-top: 2vh;
    text-decoration: none;
    font-size: 2em;
    color: #333333;
    background: transparent;
    border: 0;
}

.questTextFrame {
    border: 2px solid black;
    border-radius: 30px;
    width: 80vw;
    min-width: 360px;
}