.textQuestion{
    flex-grow: 1;
    text-align: center;
    font-size: 5vw;
    font-family: sans-serif;
    font-weight: bold;
    max-width: 90%;
}

.questTextFrame {
    width: 80vw;
    text-align: center;
    height: 100%;
    margin: 2vh;
    font-size: 1em;
    font-family: sans-serif;
    cursor: pointer;
    min-width: 360px;

    display: flex;
    align-items: center;
    justify-content: center;
}